body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  max-width: 400px;
  background: #fff;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.form input {
  width: 95%;
  padding: 8px;
  margin: 6px 0;
  
}

.form button {
  width: 100%;
  padding: 8px;
  background: rgb(104, 204, 232);
  color: white;
  border: none;
  border-radius: 6px;
}

/* .form input, .form button {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
} */

.expense {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 8px;
  margin-top: 8px;
  border-radius: 6px;
}
